<title>Zawody konne</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="description" content=""/>
<meta name="author" content=""/>
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
<link href="/css/styl.css" rel="stylesheet"/>
<script src="/bootstrap/js/bootstrap.min.js"></script>