<nav id="menu" class="navbar navbar-default menu menu-show">
    <ul class="nav menu-nav">
        <div  class="text-center">
            <a href="/" title="Strona główna"><img src="img/logo.gif" alt="Logo" class="obrazek-logo"></a>
        </div>
        <br>
        <li>
            <a href="/" title="Strona główna"><span class="text-menu"><span class="glyphicon glyphicon-home"></span> Strona główna</span></a>
        </li>
        <li>
            <a href="/kontakt" title="Kontakt"><span class="text-menu"><span class="glyphicon glyphicon-earphone"></span> Kontakt</span></a>
        </li>
        <li>
            <a href="/zgloszenie" title="Zgłoszenie"><span class="text-menu"><span class="glyphicon glyphicon-pencil"></span> Zgłoszenie</span></a>
        </li>
        <li>
            <a href="/livescore" title="Zgłoszenie"><span class="text-menu"><span class="glyphicon glyphicon-eye-open"></span> Livescore</span></a>
        </li>
        <% if (login) { %>
        <% if (user.role === 'Administrator') { %>
        <li class="dropdown">
            <a href="#menu" title="Zarządzanie"><span class="text-menu"><span class="glyphicon glyphicon-wrench"></span> Zarządzanie</span></a>
            <ul class="nav">
               <hr>
                <li><a href="/zawody" title="Zawody">Zawody</a></li>
                <li><a href="/uzytkownicy" title="Użytkownicy">Użytkownicy</a></li>
                <li><a href="/zawodnicy" title="Zawodnicy">Zawodnicy</a></li>
                <hr>
            </ul>
        </li>
        <% } %>
        <% if (user.role === 'Sędzia') { %>
        <li>
            <a href="/ocenianie" title="Ocenianie"><span class="text-menu"><span class="glyphicon glyphicon-star"></span> Ocenianie</span></a>
        </li>
        <% } %>
        <li>
            <a href="/wyloguj" title="Wyloguj"><span class="text-menu"><span class="glyphicon glyphicon-log-out"></span> Wyloguj</span></a>
        </li>
        <% } else { %>
        <li>
            <a href="/logowanie" title="Logowanie"><span class="text-menu"><span class="glyphicon glyphicon-user"></span> Logowanie</span></a>
        </li>
        <% } %>
        <li>
            <a href="/Regulamin" title="Regulamin" target="_blank"><span class="text-menu"><span class="glyphicon glyphicon-exclamation-sign"></span> Regulamin</span>
        </a>
        </li>
    </ul>
</nav>
    <button id="tab" type="button" class="btn btn-default tab-show"><span class="glyphicon glyphicon-list"></span></button>