<nav class="navbar navbar-default menu">
    <ul class="nav menu-nav">
        <div  class="text-center"><a href="/" title="Strona główna"><img src="img/logo.gif" alt="Logo" class="obrazek-logo"></a></div><br>
        <li><a href="/" title="Strona główna"><span class="glyphicon glyphicon-home"></span><span class="text-menu"> Strona główna</span></a></li>
        <li><a href="/kontakt" title="Kontakt"><span class="glyphicon glyphicon-earphone"></span><span class="text-menu"> Kontakt</span></a></li>
        <li><a href="/zgloszenie" title="Zgłoszenie"><span class="glyphicon glyphicon-pencil"></span><span class="text-menu"> Zgłoszenie</span></a></li>
    </ul>
</nav>
