<!DOCTYPE html>
<html>
    <% include partials/head %>
    <body>
        <div class="container">
            <div class="jumbotron none-padding">
                <i><h1 class="text-center"><small>Zawody konne</small></h1></i>
                <p class="text-justify">
                Strona poświęcona między narodowym zawodą konnym. Konie podglegają ocenie przez wykfalifikowanych sędziów pod głównie pod wględem wyglądu oraz chodu. Zwycięsca zawodów otrzyma 5000 złotych, zdobywca drugiego miejsca zaś 2500 złotych, trzeciego 500 oraz odpowiednie medale.</p>
                <img src="img/kon.gif" alt="Koń" class="obrazek-kon">
            </div>
        </div>
        <div id="stopka" class="text-center">Łukasz Mielewczyk <a href="mailto:lmielewczyk@inf.ug.edu.pl">lmielewczyk@inf.ug.edu.pl</a></div>
    </body>
</html>