<!DOCTYPE html>
<html>
   <head>
        <% include partials/head %>
    </head>
    <body>
        <% include partials/menu %>
        <div class="text-center">
            <h1>Zawody konne</h1>
            <div class="jumbotron none-padding opis ">
                <p class="text-justify">
                Strona poświęcona między narodowym zawodom konnym. Konie podglegają ocenie przez wykfalifikowanych sędziów pod głównie pod wględem wyglądu oraz chodu. Zwycięzca zawodów otrzyma 5000 złotych, zdobywca drugiego miejsca zaś 2500 złotych, trzeciego 500 oraz odpowiednie medale.</p>
                <img src="img/kon.gif" alt="Koń" class="obrazek-kon">
            </div>
        </div>
    </body>
</html>