<!DOCTYPE html>
<html>
   <head>
        <% include ../partials/head %>
    </head>
    <script src="/js/ws/socket.io.js"></script>
    <script src="/js/ws/admin.js"></script>
    <script src="/js/restoration/glosowanie.js"></script>
    <script src="/js/operationList/glosowanie.js"></script>
    <body id="body" class="body-show">
        <% include ../partials/menu %>
        <div>
            <h1 class="text-center">Ocenianie</h1>
                <div class="opis">
                <div class="widok-row">
                    <div class="widok-col dane-oc">
                        <div>
                            <label>Grupy:</label>
                            <div class="form-group">
                                <div class="">
                                    <input type="text" id="szukajG" class="form-control" placeholder="Wyszukaj">
                                </div>
                            </div>
                            <div class="">
                                <select type="text" id="wybG" class="form-control" multiple>
                                    </select>
                                <button id="dodajG-button" type="button" class="btn btn-default" title="Wybierz grupę"><span class="glyphicon glyphicon-plus"></span></button>
                            </div>
                        </div>
                        <div>
                           <br>
                            <label>Zawodnicy:</label>
                            <div class="form-group">
                                <div class="">
                                    <input type="text" id="szukajZ" class="form-control" placeholder="Wyszukaj">
                                </div>
                            </div>
                            <div class="">
                                <select type="text" id="wybZ" class="form-control" multiple>
                                    </select>
                                <button id="dodajZ-button" type="button" class="btn btn-default" title="Wybierz zawodnika"><span class="glyphicon glyphicon-plus"></span></button>
                            </div>
                        </div>
                        <div>
                           <br>
                            <button id="zakOc" type="button" class="btn btn-default" title="Zakończ oceniać">Zakończ ocenianie</button>
                            <br><br>
                            <button id="zakZaw" type="button" class="btn btn-default" title="Zakończ zawody">Zakończ zawody</button>
                        </div>
                    </div>
                    <div class="widok-col inf-oc">
                        <div class="text-center widok-row">
                            <h3 id="nGr">Grupa</h3>
                            <h3 id="nZaw" class='przesuNagl'></h3>
                        </div>
                        <table id="tabela" class="table table-striped sortable tb-oc">
                            <tr>
                                <th>Sędzia</th>
                                <th>Typ</th>
                                <th>Głowa i szyja</th>
                                <th>Kłoda</th>
                                <th>Nogi</th>
                                <th>Ruch</th>
                            </tr>
                        </table> 
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>