<!DOCTYPE html>
<html>
   <head>
        <% include ../partials/head %>
        <!--<script src="http://maps.googleapis.com/maps/api/js"></script>
        <script>
            var myLatLng = {lat: 54.394216, lng: 18.5673373};    
            function initialize() {
              var mapProp = {
                center: new google.maps.LatLng(myLatLng),
                zoom:15,
                mapTypeId: google.maps.MapTypeId.ROADMAP
              };
              var map=new google.maps.Map(document.getElementById("googleMap"), mapProp);
            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
              });
            }
            
            google.maps.event.addDomListener(window, 'load', initialize);

        </script>-->
    </head>
    <body id="body" class="body-show">
        <% include ../partials/menu %>
        <div class="text-center">
            <h1>Łukasz Mielewczyk</h1>
            <h2>ul. Polanki 65<br>80-306 Gdańsk</h2>
        </div>
        <div class="text-left styl-kontakt">
            <h3>
               <ul>
                    <li><span class="glyphicon glyphicon-earphone"></span> Telefon: +48 58 523 26 02</li>
                    <li><span class="glyphicon glyphicon-phone"></span> Telefon komórkowy: +48 886 170 797</li>
                    <li><span class="glyphicon glyphicon-envelope"></span> Email: <a href="mailto:lmielewczyk@sigma.ug.edu.pl">lmielewczyk@sigma.ug.edu.pl</a></li>
                    <li><span class="glyphicon glyphicon-time"></span> Czynne: poniedziałek - piątek: 8:00 - 16:00</li>
                </ul>
            </h3>
        </div>
        <!--<div id="googleMap" class="mapa"></div>-->
    </body>
</html>