<!DOCTYPE html>
<html>
   <head>
        <% include ../partials/head %>
        <% include ../partials/date %>
        <script src="/js/saveData/zawody.js"></script>
        <script src="/js/restoration/zawodyNZak.js"></script>
        <script src="/js/operationList/zawody.js"></script>
    </head>
    <body id="body" class="body-show">
        <% include ../partials/menu %>
        <h1 class="text-center">Nowe zawody</h1>
        <br>
        <div class="opis">
            <form id="zaloguj-form"  action="/grupy" method="post" class="form-horizontal">
                <div class="form-group">
                    <div class="wiersz-widok radio-przesun1">
                        <label>Zakres ocen:</label><br>
                        <input id="radio1Z" type="radio" name="zakres" value="10" checked> 0 - 10<br>
                        <input id="radio2Z" type="radio" name="zakres" value="20"> 0 - 20<br>
                    </div>
                    <div class="wiersz-widok radio-przesun2">
                        <label>Rodzaj ocen:</label><br>
                        <input id="radio1R" type="radio" name="rodzaj" value="c" checked> całkowite<br>
                        <input id="radio2R" type="radio" name="rodzaj" value="p"> połowiczne<br>
                    </div>
                    <div class="widok-is">
                        <label>Ilość sędziów:</label>
                        <input type="text" id="is" name="is" class="form-control" pattern="^[0-9]+$" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-sm-2">Nazwa wydarzenia:</label>
                    <div class="col-sm-1 pole-col">
                        <input type="text" id="wydarzenieZ" name="wydarzenie" class="form-control" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-sm-2">Opis:</label>
                    <div class="col-sm-1 pole-col">
                        <textarea type="text" id="opisZ" name="opis" class="form-control" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2">Lista startowa:</label>
                    <div class="col-sm-3">
                        <input type="text" id="szukaj" class="form-control" placeholder="Wyszukaj">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2"></label>
                    <div class="col-sm-3">
                        <select type="text" id="wyb" class="form-control" multiple>
                        </select>
                        <button id="dodaj-button" type="button" class="btn btn-default" title="Dodaj zawodnika"><span class="glyphicon glyphicon-plus"></span></button>
                    </div>
                    <label class="col-sm-1"></label>
                    <div class="col-sm-3">
                        <select type="text" id="listaSt" name="listaSt" class="form-control" multiple>
                        </select>
                        <button id="usun-button" type="button" class="btn btn-default" title="Usuń zawodnika"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                    <div>
                        <button id="nrG-button" type="button" class="btn btn-default" title="Zmień nr startowy"><span class="glyphicon glyphicon-chevron-up"></span></button><br>
                        <button id="nrD-button" type="button" class="btn btn-default" title="Zmień nr startowy"><span class="glyphicon glyphicon-chevron-down"></span></button>
                    </div>
                </div>
                <script src="/js/search/select.js"></script>
                <div class="form-group text-center">
                    <button id="zapisz-button" type="submit" class="btn btn-success" title="Zapisz"><span class="glyphicon glyphicon-ok"></span></button>
                </div>
            </form>
        </div>
    </body>
</html>