<!DOCTYPE html>
<html>
   <head>
        <% include ../partials/head %>
        <% include ../partials/date %>
        <script src="/js/get/zawodnicyZw.js"></script>
    </head>
    <body id="body" class="body-show">
        <% include ../partials/menu %>
        <h1 class="text-center">Nowe zawody</h1>
        <br>
        <div class="opis">
            <form id="zaloguj-form"  action="/zawody" method="post" class="form-horizontal">
                <div class="form-group">
                    <div class="radio-widok radio-przesun1">
                        <label>Zakres ocen:</label><br>
                        <input type="radio" name="zakres" value="10" checked> 0 - 10<br>
                        <input type="radio" name="zakres" value="20"> 0 - 20<br>
                    </div>
                    <div class="radio-widok radio-przesun2">
                        <label>Rodzaj ocen:</label><br>
                        <input type="radio" name="rodzaj" value="c" checked> całkowite<br>
                        <input type="radio" name="rodzaj" value="p"> połowiczne<br>
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-sm-2">Nazwa wydarzenia:</label>
                    <div class="col-sm-1 pole-col">
                        <input type="text" id="wydarzenie" name="wydarzenie" class="form-control" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-sm-2">Opis:</label>
                    <div class="col-sm-1 pole-col">
                        <textarea type="text" id="opis" name="opis" class="form-control" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2">Lista startowa:</label>
                        <div class="col-sm-3">
                        <input type="text" id="szukaj" class="form-control" placeholder="Wyszukaj">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2"></label>
                    <div class="col-sm-1 pole-col">
                        <select type="text" id="wyb" class="form-control" multiple>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2"></label>
                    <div class="col-sm-1 pole-col">
                        <select type="text" id="listaSt" name="listaSt" class="form-control" multiple>
                        </select>
                    </div>
                </div>
                <script src="/js/search/select.js"></script>
                <div class="form-group text-center">
                    <button id="zapisz-button" type="submit" class="btn btn-success" title="Zapisz"><span class="glyphicon glyphicon-ok"></span></button>
                </div>
            </form>
        </div>
    </body>
</html>