<!DOCTYPE html>
<html>
   <head>
        <% include ../partials/head %>
    </head>
    <body id="body" class="body-show">
        <% include ../partials/menu %>
        <div>
            <h1 class="text-center">Zgłoszenia do konkursu</h1>
            <div class="opis ">
                <p class="text-justify">
                    Aby wziąć udział w konkursie należy wypełnić poniższe zaświadczenie oraz dostarczyć je osobiście bądź przesłać skan drogą elektroniczną.<br>
                    <a href="/pobierzZas" title="Zaświadczenie"><img src="img/pdf.png" alt="Logo" class="icon"></a>
                </p>
            </div>
        </div>
    </body>
</html>