// out: ../../public/css/styl.css, compress: true
@cien: #888888;
@czarny: #FFFFFF;

.pozycjaF(@l: auto, @t: auto,  @r: auto, @b: auto){
    position: fixed;
    left: @l;
    top: @t;
    right: @r;
    bottom: @b;
}

.forma-padding(@pl: auto, @pt: auto, @pr: auto, @pb: auto){
    padding-left: @pl;
    padding-top: @pt;
    padding-right:@pr;
    padding-bottom: @pb;
}

.rozmiar(@w: auto, @h: auto){
    width: @w;
    height: @h;
}

.obj-center(){
    display: block;
    margin: auto;
}

.flex(@fd: auto, @jc: auto, @ai: auto, @as: auto){
    display: flex;
    flex-direction: @fd;
    justify-content: @jc;
    align-items: @ai;
    align-self: @as;
}

.text-justify{
    text-align: justify;
}

.obrazek-kon{
    .rozmiar(300px, 220px);
    .obj-center()
}

.none-padding{
    padding: 0;
}

.menu-nav li a{
    color: black;
}

.opis{
    width: 90%;
    border-radius: 20px;
    padding: 10px;
    .obj-center()
}

.styl-kontakt{
    .flex(auto, center)
}

.styl-kontakt ul{
    list-style-type: none;
}

.styl-kontakt ul li{
  margin-bottom: 10px;
}

@media screen and (min-width: 1201px){
    .menu{
        .forma-padding(0, 10px, 0, auto);
        .pozycjaF(0, 0, 0, 0);
        width: 13%;
        height: 100%;
        box-shadow: 5px 0  5px @cien;
    }
    body{
        margin-left: 13%;
    }
}


@media screen and (max-width: 1200px){
    .menu{
        box-shadow: 5px 0  5px @cien;
    }
    .text-menu{
        display: none;
    }
}