// out: ../../public/css/styl.css, compress: true
@cien: #888888;
@czarny: #000000;
@bialy: #FFFFFF;
@close-szary: #222222;
@menu-szary: #EEEEEE;

#menu{
    z-index: 100;
}
#tab{
    z-index: 101;
}

.pozycja-fixed(@l: auto, @t: auto,  @r: auto, @b: auto){
    position: fixed;
    left: @l;
    top: @t;
    right: @r;
    bottom: @b;
}

.pozycja-absolute(@l: auto, @t: auto,  @r: auto, @b: auto){
    position: absolute;
    left: @l;
    top: @t;
    right: @r;
    bottom: @b;
}

.forma-padding(@pl: auto, @pt: auto, @pr: auto, @pb: auto){
    padding-left: @pl;
    padding-top: @pt;
    padding-right:@pr;
    padding-bottom: @pb;
}

.forma-margin(@pl: auto, @pt: auto, @pr: auto, @pb: auto){
    margin-left: @pl;
    margin-top: @pt;
    margin-right:@pr;
    margin-bottom: @pb;
}

.rozmiar(@w: auto, @h: auto){
    width: @w;
    height: @h;
}

.border-style(@w: auto, @s: auto, @c: auto){
    border-width: @w;
    border-style: @s;
    border-color: @c
}

.obj-center(){
    display: block;
    margin: auto;
}

.flex(@fd: auto, @jc: auto, @ai: auto, @as: auto){
    display: flex;
    flex-direction: @fd;
    justify-content: @jc;
    align-items: @ai;
    align-self: @as;
}

.text-justify{
    text-align: justify;
}

.obrazek-kon{
    .rozmiar(300px, 220px);
    .obj-center()
}

.none-padding{
    padding: 0;
}

.menu-nav li a{
    color: black;
}

.opis{
    width: 90%;
    border-radius: 20px;
    padding: 10px;
    .obj-center();
}

.styl-kontakt{
    .flex(auto, center);
}

.styl-kontakt ul{
    list-style-type: none;
}

.styl-kontakt ul li{
    margin-bottom: 10px;
}

.mapa{
    .rozmiar(600px, 380px);
    .obj-center();
}

.icon{
    .rozmiar(35px, 35px);
}

.nav .nav hr{
    margin: 0;
}

.modal {
    padding-top: 2%;
    background-color: rgba(0,0,0,0.5);
    transition: top .2s ease-in;
}

.modal-content {
    animation-name: animatecrud;
    animation-duration: 0.4s;
}

.close {
    color: @close-szary;
    font-size: 20px;
}

.close:hover
{
    color: @czarny;
    text-decoration: none;
    cursor: pointer;
}

.pole-col{
    width: 80%;
}

.size-login{
    width: 50%;
}

.margin-login{
    margin-left: 20%;
}

.wiersz-widok{
    display: inline-block;
    padding: 1%;
}

.widok-is{
    float:right;
    margin-right: 5%;
    display: inline-block;
}

.radio-przesun1{
    margin-left: 5%;
}

.radio-przesun2{
    margin-left: 20%;
}

.przesun-widok{
    margin-left: 74%;
}

.ukryty{
    display: none;
}

.ocena{
    font-size: 30px;
    margin-left: 2%;
}

.ocena-opis{
    font-size: 30px;
}

.widok-col{
    .flex(column);
}

.widok-row{
    .flex(row);
}

.dane-oc{
    width: 25%
}

.inf-oc{
    margin-left:5%;
    width: 75%
}

tb-oc{
    margin-top:5%;
}

@media screen and (min-width: 1201px){
    .menu{
        .forma-padding(0, 10px, 0, auto);
        .pozycja-fixed(0, 0, 0, 0);
        .rozmiar(13%, 100%);
        box-shadow: 5px 0  5px @cien;
    }
    
    .nav{
        font-size: 15px;
    }
    
    .obrazek-logo{
        display: inline;
    }
    
    .menu-nav{
        .flex(column);
    }

    .menu-hide, .menu-show, .body-hide, .body-show{
        transition: margin-left .2s;
    }
    
    .tab-hide, .tab-show{
        transition: left .2s;
    }
    
    .tab-hide{
        .pozycja-fixed(0, 0, 0, auto);
        padding: 3px;
        margin-top: 0;
    }
    
    .tab-show{
        .pozycja-fixed(13%, 0, 0, auto);
        padding: 3px;
        margin-top: 0;
    }

    .menu-hide{
        margin-left:-300px;
    }

    .menu-show{
        margin-left:0;
    }
    
    .body-hide{
        margin: 0;
        margin-left: 0;
    }
    
    .body-show{
        margin: 0;
        margin-left: 13%;
    }
    
    .nav .dropdown li a{
        .forma-padding(40px);
    }
}

@media screen and (max-width: 1200px){
    .menu{
        .forma-padding(0, 5px, 0, auto);
        .pozycja-fixed(0, 0, 0, 0);
        .rozmiar(100%, 0);
        box-shadow: 5px 0  5px @cien;
    }

    .nav{
        font-size: 10px;
    }
    
    .obrazek-logo{
        display: none;
    }
    
    
    .menu-nav{
        .flex(row);
    }

    .menu-hide, .menu-show, .body-hide, .body-show{
        transition: margin-top .2s;
    }
    
    .tab-hide, .tab-show{
        transition: top .2s;
    }
    
    .tab-hide{
        .pozycja-fixed(0, 0, 0, auto);
        padding: 0;
    }
    
    .tab-show{
        .pozycja-fixed(0, 50px, 0, auto);
        padding: 0;
    }

    .menu-hide{
        margin-top:-200px;
    }

    .menu-show{
        margin-top:0;
    }
    
    .body-hide{
        margin: 0;
        margin-top: 0;
    }
    
    .body-show{
        margin: 0;
        margin-top: 90px;
    }
        
    .nav .dropdown li a{
        .forma-padding(0);
        margin: 0;
    }
    
    .nav .dropdown li a:link{
        background: @bialy;
    }
    
    .nav .dropdown li a:hover{
        background: @menu-szary;
    }
    
    .text-menu .ukryj{
        display: none;
    }
        
    .dropdown{
        display: block;
    }

}

@media screen and (max-height: 500px){
     .modal .modal-content {
        overflow-x: auto;
        overflow-y: auto;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
}

@keyframes animatecrud {
    to {top:0; opacity:1}
    from {top:-100px; opacity:0}
}